<div class="row">
  <div class="col-xs-12">
    <div class="panel panel-default">
      <div class="panel-heading">Clientes</div>

      <table class="table">
        <thead>
        <tr>
          <th>#</th>
          <th>Cliente</th>
          <th>Produto</th>
          <th>Valor</th>
          <th></th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let venda of vendas">
          <th scope="row">{{ venda.id }}</th>
          <td>{{ venda.cliente_id.nome }}</td>
          <td>{{ venda.produto_id.nome }}</td>
          <td>R$ {{ venda.produto_id.valor | number:'1.2' }}</td>
          <td class="text-right">
            <button class="btn btn-danger" (click)="remove(venda.id)"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span></button>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
