<div class="row">
  <div class="col-xs-12">
    <form (ngSubmit)="onSubmit(formVenda)" #formVenda="ngForm">
      <div class="form-group">
        <label for="cliente">Cliente</label>
        <select class="form-control" id="cliente" ngModel name="cliente" required>
          <option *ngFor="let cliente of clientes" value="{{cliente.id}}">{{cliente.nome}}</option>
        </select>
      </div>
      <div class="form-group">
        <label for="produto">Produto</label>
        <select class="form-control" id="produto" ngModel name="produto" required>
          <option *ngFor="let produto of produtos" value="{{produto.id}}">{{produto.nome}} - R$ {{produto.valor | number:'1.2'}}</option>
        </select>
      </div>
      <button type="submit" class="btn btn-primary" [disabled]="!formVenda.valid">
        {{ editMode ? 'Atualizar' : 'Cadastrar'}}
      </button>

    </form>
  </div>
</div>
